---
import Header from "@/components/Header";
import Footer from "../components/Footer.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { ClientRouter } from "astro:transitions";
import "@fontsource-variable/inter";
import { siteConfig } from "@/config/site";

export interface Props {
  title: string;
}

const lang = getLangFromUrl(Astro.url);
const { title } = Astro.props;
const t = useTranslations(lang);
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=`${title}` />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-background text-foreground">
    <Header
      client:load
      siteConfig={siteConfig}
      navigation={[
        { label: "nav.index", href: "/" },
        { label: "nav.table", href: "/table/" },
        { label: "nav.list", href: "/reports/" },
      ]}
      currentPath={currentPath}
      lang={lang}
    />
    <main class="mx-auto px-4 py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
